div.touchbar-base {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 0;
}

div.touchbar-base > * {
    display: inline-block;
    vertical-align: middle;
}

div.touchbar-base .touchbar-element {
    display: inline-block;
    vertical-align: middle;
    background-color: #373737;
    width: 90px;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e7ebfd;
}

div.touchbar-base .touchbar-element.crypto {
    padding: 0 10px;
    width: auto;
}

div.touchbar-element-middle {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

div.touchbar-element-right {
    position: relative;
    min-width: 272px;
    margin-left: auto;
}

div.touchbar-element-right:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 35px;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

div.touchbar-element-right .touchbar-element {
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 1px;
}

div.touchbar-element-right .touchbar-element:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.touchbar-element-right .touchbar-element:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 0;
}

div.touchbar-element-right .icon {
    display: block;
    height: 100%;
    width: 100%;
}

div.touchbar-element-right .volume .icon {
    background: url('../img/volume-high.png') no-repeat center;
}

div.touchbar-element-right .mute .icon {
    background: url('../img/volume-mute.png') no-repeat center;
}

div.touchbar-element-right .siri .icon {
    background: url('../img/siri.png') no-repeat center;
}

svg.touchbar-crypto-icon {
    display: inline-block;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
    height: 22px;
    width: 22px
}

#coins {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#coins > div {
    display: inline-block;
    padding: 0 10px;
    width: auto;
    min-width: 250px;
    vertical-align: middle;
    line-height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#coins > div > input {
    margin-right: 10px;
}

#coins > div > img {
    vertical-align: middle;
}

#coins > div > label {
    margin-left: 10px;
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    background: #373737;
    padding: 10px;	
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.jscolor {
    margin-left: 10px; 
    border-radius: 5px;
}
